/* ToDo Filter */
.filter{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 380px;
  margin: 10px 20px;

  padding: 10px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.filter input {
  height: 25px;
  border-radius: 3px;
  border: 1px solid #878c97;
}

.filter input:focus {
  outline: #4267B2;
}